<!DOCTYPE html>
<html>
    <head>
        <title>EGS Editor</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/main.css">
        <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.5/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <script src="/upload.js"></script>
        <script src="/list.js"></script>
        <script src="/app.js"></script>
    </head>
    <body>
      <div class="ui container">
      <% if(success && success.length > 0){ %>
        <div class="ui success message">
          <div class="ui header center aligned" role="alert"><%=success%></div>
        </div>
      <% } %>
      <% if(error && error.length > 0){%>
          <div class="ui negative message">
            <div class="ui header center aligned" role="alert"><%=error%></div>
          </div>
      <% } %>
      </div>
