<% include ../partials/header%>
<script src="/product/product.js"></script>
<div class="twelve wide field" ng-app="product" ng-controller="productController">
  <br>
  <div class="ui container">
    <h1>List of Products</h1>
    <br>
      <form ng-submit="search()">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt inputInfo" placeholder="Find Product" type="text" ng-model="searchName" data-content="Search for any of the columns provided">
            <i class="search icon"></i>
          </div>
        </div>
      </form>
      <table id="Datatable" class="ui fixed single line celled table header-fixed" width="100%">
        <thead>
          <th>Number</th>
          <th>Name</th>
          <th>Supplier</th>
          <th>Category</th>
          <th>Last Updated</th>
        </thead>
        <tbody class="list">
          <tr ng-repeat="product in data">
            <td><a ng-click="openViewModal(product.Code)" class="number view_btn" href="#">{{ product.Number }}</a></td>
            <td><a ng-click="openViewModal(product.Code)" class="name view_btn" href="#">{{ product.Name }}</a></td>
            <td><a ng-click="openViewModal(product.Code)" class="supplier view_btn" href="#">{{ product.Supplier }}</a></td>
            <td><a ng-click="openViewModal(product.Code)" class="category view_btn" href="#">{{ product.Category }}</a></td>
            <td><a ng-click="openViewModal(product.Code)" class="lastupdate" href="#">{{ product.LastUpdated }}</a></td>
            <!-- <td><a class="lastupdate" href="/products/{{product.Code}}/view">{{ product.LastUpdated }}</a></td> -->
          </tr>
        </tbody>
      </table>
    <br>
      <div class="twelve wide field">
        <div class="ui raised segment ">
          <div class="panel-body">
            <span class="upload icon"></span>
            <h2>Upload CSV to Database</h2>
            <h4>CSV required!</h4>
            <div class="ui progress">
              <div class="bar" role="progressbar"></div>
            </div>
            <button class="ui secondary button upload-btn buttonInfo" type="button" data-content="Upload csv file to update EGS PIM database">Upload File</button>
          </div>
        </div>
      </div>
    <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
  </div>


  <!-- VIEW PAGE MODAL -->
<div id="viewPage" class="ui modal">
  <div class="ui form segment">
    <div class="ui container center aligned">
      <h2>View Product: "{{dataView[0][0].Name}}"</h2>
    </div>
    <br>
    <div class="ui grid">
      <div class="ten wide column">
        <h4 class="ui header">Name</h4>
        <p>{{dataView[0][0].Name}}</p>
      </div>
      <div class="six wide column">
        <h4 class="ui header">Number</h4>
        <p>{{dataView[0][0].Number}}</p>
      </div>
      <div class="ten wide column">
        <h4 class="ui header">Supplier</h4>
        <p>{{dataView[0][0].Supplier}}</p>
      </div>
      <div class="six wide column">
        <h4 class="ui header">Category</h4>
        <p>{{dataView[0][0].Category}}</p>
      </div>
      <div class="ten wide column">
        <h4 class="ui header">Allergens</h4>
        <p>{{dataView[0][0].Allergens}}</p>
      </div>
      <div class="six wide column">
        <h4 class="ui header">Barcode</h4>
        <p>{{dataView[0][0].Barcode}}</p>
      </div>
      <div class="ten wide column">
        <h4 class="ui header">Productivity</h4>
        <p>{{dataView[0][0].Productivity}}</p>
      </div>
      <div class="six wide column">
        <h4 class="ui header">Country of Origin</h4>
        <p>{{dataView[0][0].CountryOrigin}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Brand</h4>
        <p>{{dataView[0][0].Brand}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Declaration</h4>
        <p>{{dataView[0][0].Declaration}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Cooking Tip</h4>
        <p>{{dataView[0][0].CookingTip}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Refinement</h4>
        <p>{{dataView[0][0].Refinement}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Storage</h4>
        <p>{{dataView[0][0].Storage}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Attachment</h4>
        <p>{{dataView[0][0].Attachment}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Specific Determination</h4>
        <p>{{dataView[0][0].SpecificDetermination}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Description</h4>
        <p>{{dataView[0][0].Description}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Ingredients</h4>
        <p>{{dataView[0][0].Ingredients}}</p>
      </div>
      <div class="sixteen wide column">
        <h4 class="ui header">Preparation</h4>
        <p>{{dataView[0][0].Preparation}}</p>
      </div>
      <br>
      <div class="sixteen wide column">
        <h3 class="ui dividing header">Clients</h3>
      </div>
      <br>
      <div class="segment four wide column" ng-repeat="client in dataView[1]">
        <h3 class="header">{{client.Name}}</h3>
        <div class="four wide column">
          <h4 class="ui header">Price1</h4>
          <p>{{client.Price1}}/{{client.Unit1}}</p>
        </div>
        <div class="four wide column">
          <h4 class="ui header">Price2</h4>
          <p>{{client.Price2}}/{{client.Unit2}}</p>
        </div>
        <div class="four wide column">
          <h4 class="ui header">Price3</h4>
          <p>{{client.Price3}}/{{client.Unit3}}</p>
        </div>
        <div class="four wide column">
          <h4 class="ui header">Price4</h4>
          <p>{{client.Price4}}/{{client.Unit4}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="ui form">
      <a class="ui secondary button" style="margin-right:1%;" href="#" ng-click="editProduct(dataView[0][0].Code)">Edit Product</a>
      <button href="#" class="ui button" ng-click="closeModal()">Back to List</button>
    </div>
  </div>
</div>

<!-- EDIT PAGE MODAL -->
<div id="editPage" class="ui modal">
  <div class="ui container">
      <br>
        <div class="ui container center aligned">
          <h2>Edit Product: "{{dataEdit[0][0].Name}}"</h2>
        </div>
        <br>
        <form name="form" class="ui form segment">
          <div class="two fields">
            <div class="twelve wide field">
              <label for="Name">Name:</label>
              <input class="form-control" type="text" ng-model="product.Name" name="product[name]">
            </div>
            <div class="four wide field">
              <label for="Number">Number:</label>
              <input class="form-control" type="text" ng-model="product.Number" name="product[number]"  disabled>
            </div>
          </div>
          <div class="two fields">
            <div class="twelve wide field">
              <label for="Supplier">Supplier:</label>
              <input class="form-control" type="text" ng-model="product.Supplier" name="product[supplier]">
            </div>
            <div class="four wide field">
              <label for="Category">Category:</label>
              <input class="form-control" type="text" ng-model="product.Category" name="product[category]">
            </div>
          </div>
          <div class="two fields">
            <div class="twelve wide field">
              <label for="Allergens">Allergens:</label>
              <input class="form-control" type="text" name="product[allergens]" value="{{dataEdit[0][0].Allergens}}">
            </div>
            <div class="four wide field">
              <label for="Barcode">Barcode:</label>
              <input class="form-control" type="text" name="product[barcode]" value="{{dataEdit[0][0].Barcode}}">
            </div>
          </div>
          <div class="two fields">
            <div class="twelve wide field">
              <label for="Productivity">Productivity:</label>
              <input class="form-control" type="text" ng-model="product.Productivity" name="product[productivity]">
            </div>
            <div class="four wide field">
              <label for="CountryOfOrigin">Country of Origin:</label>
              <input class="form-control" type="text" ng-model="product.CountryOrigin" name="product[countryOfOrigin]">
            </div>
          </div>
          <div class="field">
            <label for="Brand">Brand:</label>
            <input class="form-control" type="text" ng-model="product.Brand" name="product[brand]">
          </div>
          <div class="field">
            <label for="Declaration">Declaration:</label>
            <input class="form-control" type="text" ng-model="product.Declaration" name="product[declaration]">
          </div>
          <div class="field">
            <label for="CookingTip">Cooking Tip:</label>
            <input class="form-control" type="text" ng-model="product.CookingTip" name="product[cookingTip]">
          </div>
          <div class="field">
            <label for="Refinement">Refinement:</label>
            <input class="form-control" type="text" ng-model="product.Refinement" name="product[refinement]">
          </div>
          <div class="field">
            <label for="Storage">Storage:</label>
            <input class="form-control" type="text" ng-model="product.Storage" name="product[storage]">
          </div>
          <div class="field">
            <label for="Attachment">Attachment:</label>
            <input class="form-control" type="text" ng-model="product.Attachment" name="product[attachment]">
          </div>
          <div class="field">
            <label for="SpecificDetermination">Specific Determination:</label>
            <input class="form-control" type="text" ng-model="product.SpecificDetermination" name="product[specificDetermination]">
          </div>
          <div class="field">
            <label for="Description">Description:</label>
            <textarea rows="2" class="form-control" ng-model="product.Description" name="product[description]"></textarea>
          </div>
          <div class="field">
            <label for="Ingredients">Ingredients:</label>
            <textarea rows="2" class="form-control" ng-model="product.Ingredients" name="product[ingredients]"></textarea>
          </div>
          <div class="field">
            <label for="Preparation">Preparation:</label>
            <textarea rows="2" class="form-control" ng-model="product.Preparation" name="product[preparation]"></textarea>
          </div>
          <div class="field">
              <h3 class="ui dividing header">Clients</h3>
            <br>
            <div class="ui grid">
                <div class="four wide columns" ng-repeat="client in dataEdit[1]">
                  <h4>{{client.Name}}</h4>
                  <script type="text/javascript">
                    $('.hidden').hide();
                  </script>
                  <input class="hidden" type="text" name="price[ClientCode]" value="{{client.ClientCode}}">
                  <div class="field">
                    <label for="Price1">Price1</label>
                    <div class="ui right labeled input">
                      <input placeholder="Price1" type="text" ng-model="dataEdit[1][$index].Price1" name="price1[price1]" value="{{client.Price1}}">
                      <div class="ui basic label">
                        {{client.Unit1}}
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label for="Price2">Price2</label>
                    <div class="ui right labeled input">
                      <input placeholder="Price2" ng-model="dataEdit[1][$index].Price2" type="text" name="price[price2]" value="{{client.Price2}}">
                      <div class="ui basic label">
                        {{client.Unit2}}
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label for="Price3">Price3</label>
                    <div class="ui right labeled input">
                      <input placeholder="Price3" ng-model="dataEdit[1][$index].Price3" type="text" name="price[price3]" value="{{client.Price3}}">
                      <div class="ui basic label">
                        {{client.Unit3}}
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label for="Price4">Price4</label>
                    <div class="ui right labeled input">
                      <input placeholder="Price4" ng-model="dataEdit[1][$index].Price4" type="text" name="price[price4]" value="{{client.Price4}}">
                      <div class="ui basic label">
                        {{client.Unit4}}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <br>
          <flash-message duration="5000">
          </flash-message>
          <div class="ui form">
            <!-- <button class="ui button green" style="float:left;margin-right:1%">Save</button>
            <a href="/products" class="ui button blue">Back to List</a> -->
            <button class="ui button green" ng-click="saveProduct()" style="float:left;margin-right:1%">Save</button>
            <a href="#" ng-click='openViewModal(product.Code)' class="ui button blue">Back to View</a>
          </div>
        </form>
  </div>
</div>


<% include ../partials/footer%>
